#publications {
    padding: 25px;
}

mat-card {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.middle-mat-card {
    margin: 25px 0;
}

.form-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-heading h3 {
    margin: 0;
}

#publication-buttons {
    display: flex; 
    gap: 10px;
}

.action-buttons {
    display: flex;
    gap: 8px;
}

button {
    color: white !important;
    background-color: #004445 !important;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-column {
    display: flex;
    flex-direction: column;
    flex-basis: 48%;
}

mat-form-field {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 10px 0;
}

.grid-item {
    display: flex;
    flex-direction: column;
}

span {
    margin-bottom: 10px;
    color: #6d6d6d;
}

mat-grid-tile {
    background: #f7f7f7;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.tile-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

hr {
    border: none;
    height: 1px;
    background-color: #6d6d6d;
    margin: 5px 0;
}

.tile-content h4 {
    margin: 0;
}

mat-table {
    margin-top: 20px;
    padding: 2%;
    width: 100%;
}

.mat-column-id {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6% !important;
    width: 6% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-vis {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 7% !important;
    width: 7% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-year {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 7% !important;
    width: 7% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-ptype {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    width: 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 8% !important;
    width: 8% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

mat-paginator {
    margin-top: 1%;
}