/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";
a {
    color: #1a8dc6;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul { margin: 0; }
.btn-link {
    background: none;
    border: none;
    color: inherit;
    padding: 5px;
    cursor: pointer;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btn-link:focus {
    outline: none;
    box-shadow: none;
}