#bibchars {
    padding: 25px;
}

mat-card {
    padding: 2%;
}

mat-form-field {
    flex-grow: 1;
}

#input-fields {
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    gap: 10px;
}

#bibchar-buttons {
    display: flex; 
    gap: 10px;
}

.action-buttons {
    display: flex;
    gap: 8px;
}

button {
    color: white !important;
    background-color: #004445 !important;
}

mat-table {
    margin-top: 20px;
    padding: 2%;
    width: 100%;
}