#content-container {
    display:grid;
    grid-template-rows:auto 1fr auto;
    grid-template-columns:100%;

    /* fallback height */
    min-height:100vh;

    /* new small viewport height for modern browsers */
    min-height:100svh;
}

app-footer {
    padding: 5px;
    font-size: 0.8em;
    color: white;
    background-image: linear-gradient(to top, #C26DBC, #EEB5EB);
    box-shadow: 0 0 8px 7px #EEB5EB;
    margin-top: 10px;
    padding: 10px 30px;
}
