.export-bibtex {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* creates two columns of equal width */
    gap: 40px;
    margin: 10px 0;
}

button {
    color: white !important;
    background-color: #004445 !important;
}