.custom-toolbar {
    background-color: #004445;
<<<<<<< HEAD
    color: white;
=======
    color: #ffffff;
>>>>>>> b65a10d6c40067eecc3b2656e60d2f892547e78f
}


.mat-mdc-button:not(:disabled) {
    color: white;
}