button {
    color: white !important;
    background-color: #2C7873 !important;
}

.linkage-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 30px 0;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.publist-container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px; 
}

button {
    grid-column: 1 / -1;
    width: fit-content;
}

