<app-header></app-header>
<app-navbar></app-navbar>
<app-my-home *ngIf="currentView === 'myhome'"></app-my-home>
<app-cnc-home *ngIf="currentView === 'cnchome'"></app-cnc-home>
<app-cnc-projects *ngIf="currentView === 'cncprojects'"></app-cnc-projects>
<app-publications *ngIf="currentView === 'publications'"></app-publications>
<app-bib-tex-chars *ngIf="currentView === 'bibtexchars'"></app-bib-tex-chars>
<app-cog-sci-home *ngIf="currentView === 'cogscihome'"></app-cog-sci-home>
<app-ai-seminar *ngIf="currentView === 'aiseminar'"></app-ai-seminar>