<mat-toolbar class="custom-toolbar2">
    <mat-toolbar-row>
        <div>
            <a mat-button [routerLink]="['/admin']">MyHome</a>
            <a mat-button [routerLink]="['/admin/cnchome']">CncHome</a>
            <a mat-button [routerLink]="['/admin/cncprojects']">CncProjects</a>
            <a mat-button [routerLink]="['/admin/publications']">Publications</a>
            <a mat-button [routerLink]="['/admin/bibtexchars']">BibTexChars</a>
            <a mat-button [routerLink]="['/admin/cogscihome']">CogSciHome</a>
            <a mat-button [routerLink]="['/admin/aiseminar']">AiSeminar</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
