<div id="aiseminar">
    <form #seminarForm="ngForm">
        <mat-card class="mat-elevation-z4">

            <h3>{{ editing ? 'Edit seminar ' + currentSeminar.id : 'New seminar' }}</h3>

            <mat-form-field appearance="fill">
                <mat-label> Date </mat-label>
                <input matInput [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" 
                    [(ngModel)]="currentSeminar.date" name="date" required #date="ngModel">
                <mat-error *ngIf="date.errors?.['required']">
                    Date is required.
                </mat-error>
                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label> Time </mat-label>
                <input matInput [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" 
                    [(ngModel)]="currentSeminar.time" name="time" required #time="ngModel">
                <mat-error *ngIf="time.errors?.['required']">
                    Time is required.
                </mat-error>
                <owl-date-time [pickerType]="'timer'" #dt2></owl-date-time>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label> Note </mat-label>
                <input matInput [(ngModel)]="currentSeminar.note" name="note" #note="ngModel" maxlength="256">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label> Lecturer </mat-label>
                <input matInput [(ngModel)]="currentSeminar.lecturer" name="lecturer" required #lecturer="ngModel" maxlength="256">
                <mat-error *ngIf="lecturer.errors?.['required']">
                    Lecturer name is required.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label> Lecturer from </mat-label>
                <input matInput [(ngModel)]="currentSeminar.lecturerfrom" name="lecturerfrom" #lecturerfrom="ngModel" maxlength="256">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label> URL </mat-label>
                <input matInput [(ngModel)]="currentSeminar.url" name="url" #url="ngModel" maxlength="256">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label> Title </mat-label>
                <input matInput [(ngModel)]="currentSeminar.title" name="title" required #title="ngModel" maxlength="256">
                <mat-error *ngIf="title.errors?.['required']">
                    Title is required.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label> Abstract </mat-label>
                <textarea matInput [(ngModel)]="currentSeminar.abstract" name="abstract" rows="5"></textarea>
            </mat-form-field>

            <div id="aiseminar-buttons">
                <button mat-raised-button *ngIf="editing" (click)="updateSeminar()" [disabled]="!seminarForm.valid"> Edit </button>
                <button mat-raised-button *ngIf="editing" (click)="clearForm()"> Cancel </button>
                <button mat-raised-button *ngIf="!editing" (click)="addSeminar()" [disabled]="!seminarForm.valid"> Add </button>
            </div>

        </mat-card>
    </form>

    <mat-table class="bibchar-table mat-elevation-z4" [dataSource]="seminars" matSort>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
            <mat-cell *matCellDef="let seminar"> {{seminar.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="datetime">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date time </mat-header-cell>
            <mat-cell *matCellDef="let seminar">
                {{ seminar.date | date:'mediumDate' }} 
                <ng-container *ngIf="seminar.time">
                    {{ seminar.time }}
                </ng-container>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lecturer">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Lecturer </mat-header-cell>
            <mat-cell *matCellDef="let seminar"> {{seminar.lecturer}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lecturerfrom">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Lecturer from </mat-header-cell>
            <mat-cell *matCellDef="let seminar"> {{seminar.lecturerfrom}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="url">
            <mat-header-cell *matHeaderCellDef mat-sort-header> URL </mat-header-cell>
            <mat-cell *matCellDef="let seminar"> {{seminar.url}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
            <mat-cell *matCellDef="let seminar"> {{seminar.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="abstract">
            <mat-header-cell *matHeaderCellDef> Abstract </mat-header-cell>
            <mat-cell *matCellDef="let seminar"> {{ seminar.abstract | truncate:150 }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="note">
            <mat-header-cell *matHeaderCellDef> Note </mat-header-cell>
            <mat-cell *matCellDef="let seminar"> {{seminar.note | truncate:80 }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell *matCellDef="let seminar" class="action-buttons">
              <button mat-button (click)="editSeminar(seminar)"> Edit </button>
              <button mat-button (click)="deleteSeminar(seminar.id)"> Delete </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>